@using Bookish.Data.Models.Internal
@model List<Book>
@{
    ViewData["Title"] = "All Books";
}

<div class="text-left">
    <div class="row">
        <div class="col-6">
            <h1 class="display-4">All Books</h1>
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="flex-grow-1">
                <partial name="_BookSearchPartial"/>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Copies Available</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Book book in Model)
        {
            <tr>
                <td><a href="/book?id=@book.Id">@book.Title</a></td>
                <td>
                    @for (var i = 0; i < book.Authors.Count; i++)
                    {
                        var author = book.Authors[i];
                        <a href="/author?id=@author.Id">@author.Name</a>@(i < book.Authors.Count - 1 ? "," : "")
                    }
                    
                </td>
                <td>@book.Instances.FindAll(i => !i.Checkouts.Exists(c => c.Returned == false)).Count
                    /
                    @book.Instances.Count</td>
            </tr>
        }
        </tbody>
    </table>
</div>