@using Bookish.Data.Models.Internal
@model AuthorViewModel
@{
    ViewData["Title"] = Model.Author.Name;
}

<div class="text-left">
    <h1 class="display-4">@Model.Author.Name</h1>
    <h2>Author's Books</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Copies Available</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Book book in Model.Books)
        {
            <tr>
                <td><a href="/book?id=@book.Id">@book.Title</a></td>
                <td>
                    @for (var i = 0; i < book.Authors.Count; i++)
                    {
                        bool currentAuthor = book.Authors[i].Id != Model.Author.Id;
                        Author author = book.Authors[i];
                        
                        @if (currentAuthor)
                        {
                            <a href="/author?id=@author.Id">
                                @author.Name
                            </a>@(i < book.Authors.Count - 1 ? "," : "")
                        }
                        else
                        {
                            <span>@author.Name@(i < book.Authors.Count - 1 ? "," : "")</span>
                        }
                    }
                </td>
                <td>@book.Instances.FindAll(i => !i.Checkouts.Exists(c => c.Returned == false)).Count
                    /
                    @book.Instances.Count</td>
            </tr>
        }
        </tbody>
    </table>
</div>